<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials :: head">
	<meta charset="UTF-8">
	<title>Edit Post</title>
</head>
<body>
	<nav th:replace="partials :: navbar"></nav>
	
	<div class="container">
		<h1>Edit Post:</h1>
		<form th:method="post" th:object="${post}" th:value="${id}" th:action="@{'/edit/' + ${id}}">
			<input type="hidden" name="id" th:field="*{id}">
			<div class="form-group">
				<label for="title">Title</label>
				<input class="form-control" type="text" name="title" id="title" th:field="*{title}" th:value="title">
			</div>
			<div class="form-group">
				<label for="body">Body</label>
				<textarea class="form-control" name="body" id="body" cols="30" rows="10" th:field="*{body}"></textarea>
			</div>
			
			<button class="btn btn-primary" type="submit">Update</button>
		</form>
	</div>

	<div th:replace="partials :: scripts"></div>
</body>
</html>