<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials :: head">
	<meta charset="UTF-8">
	<title>View All Posts</title>
</head>
<body>
	<nav th:replace="partials :: navbar"></nav>
	<div class="container mt-5">
		<div class="d-flex">
			<img class="leaf" th:src="@{/images/leaf-icon.png}" alt="leaf">
		</div>
		<div class="container header-container">
			<h2 class="main-header">Activity</h2>
			<div class="date"></div>
		</div>
		<div class="container post-container">
			<div class="post-margin" th:each="posts: ${posts}">
				<a th:href="@{'/posts/index/' + ${posts.getId()}}">
					<h5 th:text="${posts.getTitle()}"></h5>
				</a>
				<p class="body" th:text="${posts.getBody()}"></p>
				<div class="dropdown">
					<button class="btn icon dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<i class="bi bi-gear-fill"></i>
					</button>
					<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
						<form class="form-bg" th:action="@{'/posts/edit/' + ${posts.getId()}}" method="get">
							<button type="submit" class="btn">Edit</button>
						</form>
						<form class="form-bg" th:action="@{'/delete-by-id/' + ${posts.getId()}}" method="post">
							<button class="btn" type="submit">Delete</button>
						</form>
<!--						<a class="dropdown-item" th:action="@{'/delete-by-id/' + ${posts.getId()}}" th:method="post">Delete</a>-->
					</div>
					<hr>
				</div>
<!--				<div style="display: flex">-->
<!--					-->
<!--					-->
<!--				</div>-->
			
			</div>
		</div>
	</div>

	<div th:replace="partials :: scripts"></div>
</body>
</html>