<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials :: head">
	<meta charset="UTF-8">
	<title>View All Posts</title>
</head>
<body>
	<nav th:replace="partials :: navbar"></nav>
	<h1>All Posts:</h1>
	<div th:each="posts: ${posts}">
		<a th:href="@{'/posts/index/' + ${posts.getId()}}">
			<h3 th:text="${posts.getTitle()}"></h3>
		</a>
		<p th:text="${posts.getBody()}"></p>
		<div style="display: flex">
			<form th:action="@{'/posts/edit/' + ${posts.getId()}}" method="get">
				<button type="submit" class="btn btn-dark">Edit</button>
			</form>
			<form style="margin-left: 1rem" th:action="@{'/delete-by-id/' + ${posts.getId()}}" method="post">
				<button class="btn btn-dark" type="submit">Delete</button>
			</form>
		</div>
		
	</div>
	<div th:replace="partials :: scripts"></div>
</body>
</html>