<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials :: head">
	<meta charset="UTF-8">
	<title>View All Posts</title>
</head>
<body>
	<nav th:replace="partials :: navbar"></nav>
	<h1>All Posts:</h1>
	<div th:each="posts: ${posts}">
		<h3 th:text="${posts.getTitle()}"></h3>
		<p th:text="${posts.getBody()}"></p>
		<div style="display: flex">
			<form action="">
				<button>Edit</button>
			</form>
			<form style="margin-left: 1rem" th:action="@{'/delete-by-id/' + ${posts.getId()}}" method="post">
				<button type="submit">Delete</button>
			</form>
		</div>
		
	</div>
	<div th:replace="partials :: scripts"></div>
</body>
</html>