<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Cars</title>
</head>
<body>
<!--	<div th:each="cars: ${cars}">-->
<!--		<h1 th:text="${cars.getMake()} + ' ' + ${cars.getModel()}"/>-->
<!--		-->
<!--&lt;!&ndash;		<p th:text="${cars.getMake()}"></p>&ndash;&gt;-->
<!--&lt;!&ndash;		<p th:text="${cars.getModel()}"></p>&ndash;&gt;-->
<!--	</div>-->

	<h1>All Chevys:</h1>
	<div th:each="chevy: ${chevy}">
		<h3 th:text="${chevy.getMake()} + ' ' + ${chevy.getModel()}"></h3>
	</div>
	
	<h1>All Hondas:</h1>
	<div th:each="honda: ${honda}">
		<h3 th:text="${honda.getMake()} + ' ' + ${honda.getModel()}"></h3>
	</div>
</body>
</html>